[user]
	email = clwatrou@us.ibm.com
	name = Chris Watrous
[core]
	editor = vim
        pager = less -R
	excludesfile = ~/.gitignore_global
[credential]
	helper = cache --timeout 10000000
[push]
	default = simple
[color]
        diff = always
[color "diff"]
	meta = bold cyan
[advice]
	detachedHead = false
[diff]
	statGraphWidth = 160
[url "ssh://git@github.ibm.com/"]
	insteadOf = https://github.ibm.com/
[url "git@github.com:"]
	insteadOf = https://github.com/
