"*":
  "atom-ide-ui":
    "atom-ide-code-format":
      formatOnSave: true
  "autocomplete-plus":
    extraWordCharacters: "-"
    fileBlacklist: [
      ".*"
      "*.txt"
      "*.md"
      "untitled"
    ]
  autosave:
    enabled: true
  "bracket-colorizer": {}
  "bracket-matcher":
    autocompleteBrackets: false
  chlorine:
    "experimental-features": true
    "refresh-mode": "simple"
    "refresh-on-save": false
  core:
    allowPendingPaneItems: false
    audioBeep: false
    disabledPackages: [
      "bracket-colorizer"
      "snippets"
      "autocomplete-snippets"
      "atom-keyboard-macros-vim"
      "terminal-plus"
      "indent-guide-improved"
      "tree-view-filter"
      "tree-view-search-bar"
      "linter-joker"
      "proto-repl-charts"
      "proto-repl-sayid"
      "rainbow-delimiters"
      "linter-pycodestyle"
    ]
    ignoredNames: [
      ".git"
      "node_modules"
    ]
    packagesWithKeymapsDisabled: [
      "yaml-sortkey"
      "lisp-paredit"
      "restart-atom"
      "chlorine"
      "terminal-tab-plus"
    ]
    projectHome: "/Users/chris/projects"
    telemetryConsent: "limited"
  editor:
    fontFamily: "Inconsolata"
    fontSize: 15
    lineHeight: 1.6
    nonWordCharacters: "/\\()\"':,.;<>~!@#$%^&*|+=[]{}`?…"
    preferredLineLength: 150
    scrollPastEnd: true
    softWrap: true
    tabLength: 4
    tabType: "soft"
  "exception-reporting":
    userId: "aac87d19-8428-48f3-820b-818e9ff411ce"
  "find-and-replace":
    searchContextLineCountAfter: 20
    searchContextLineCountBefore: 20
    useRipgrep: true
  "go-plus":
    autocomplete:
      suppressActivationForCharacters: [
        "comma"
        "newline"
        "space"
        "tab"
        "/"
        ", ("
        ")"
        "\""
        "'"
        ":"
        ";"
        "<"
        ">"
        "~"
        "!"
        "@"
        "#"
        "$"
        "%"
        "^"
        "&"
        "*"
        "|"
        "+"
        "="
        "["
        "]"
        "{"
        "}"
        "`"
        "~"
        "?"
        "-"
      ]
      suppressBuiltinAutocompleteProvider: false
    panel:
      displayMode: "closed"
      focusOnFailure: false
    test:
      runTestsOnSave: false
  "highlight-column":
    lineMode: true
  "highlight-selected": {}
  "language-babel": {}
  "linter-pycodestyle":
    convertAllErrorsToWarnings: false
    maxLineLength: 100
  "linter-ui-default":
    panelHeight: 300
  "lisp-paredit":
    enabled: false
    indentationForms: [
      "try"
      "catch"
      "finally"
      "/^let/"
      "are"
      "/^def/"
      "fn"
      "cond"
      "condp"
      "/^if.*/"
      "/.*\\/for/"
      "for"
      "for-all"
      "/^when.*/"
      "testing"
      "doseq"
      "dotimes"
      "ns"
      "routes"
      "GET"
      "POST"
      "PUT"
      "DELETE"
      "extend-protocol"
      "loop"
      "do"
      "case"
      "with-bindings"
      "checking"
      "with-open"
    ]
  "prompt-big-file":
    Threshold: 0.5
  "proto-repl":
    autoPrettyPrint: true
    autoScroll: false
    displayHelpText: false
    leinPath: "/Users/chris/bin/lein"
    refreshBeforeRunningSingleTest: false
    refreshBeforeRunningTestFile: false
    refreshOnReplStart: false
    showInlineResults: false
  "rainbow-delimiters": {}
  "relative-numbers":
    showAbsoluteNumbers: true
    showAbsoluteNumbersInInsertMode: false
    softWrapsCount: false
    trueNumberCurrentLine: false
  "spell-check":
    addKnownWords: true
    knownWords: [
      "noninfringement"
      "Tekton"
      "Cloudant"
    ]
  "terminal-plus":
    core:
      autoRunCommand: "bash"
    toggles: {}
  "tree-view":
    squashDirectoryNames: true
  "tree-view-filter":
    caseInsensitive: true
    fuzzySearch: true
    liveUpdate: true
  "vim-mode-plus":
    automaticallyEscapeInsertModeOnActivePaneItemChange: true
    useSmartcaseForSearch: true
  welcome:
    showOnStartup: false
  whitespace:
    ignoreWhitespaceOnCurrentLine: false
".clojure.source":
  editor:
    autoIndent: false
    autoIndentOnPaste: false
    nonWordCharacters: "()\"':,;~@#$%^&{}[]`"
    preferredLineLength: 100
    tabLength: 1
".css.scss.source":
  editor:
    nonWordCharacters: "/\\()\"':,.;<>~!#%^&*|+=[]{}`?…"
    tabLength: 2
".gfm.source":
  editor:
    tabLength: 2
".go.source":
  editor:
    preferredLineLength: 150
    showInvisibles: false
    tabType: "hard"
".groovy.source":
  editor:
    tabLength: 4
".js.jsx.source":
  editor:
    nonWordCharacters: "/\\()\"':,.;<>~!@#%^&*|+=[]{}`?-…"
    preferredLineLength: 150
    tabLength: 2
".js.source":
  editor:
    nonWordCharacters: "/\\()\"':,.;<>~!#@%^&*|+=[]{}`?-…"
    tabLength: 2
".jsdoc.source":
  editor:
    preferredLineLength: 150
".json.source":
  editor:
    tabLength: 2
".lua.source":
  editor:
    preferredLineLength: 100
    tabLength: 4
".mod.source":
  editor:
    tabType: "auto"
".nginx.source":
  editor:
    tabLength: 4
".python.regexp.source":
  editor:
    preferredLineLength: 15
".python.source":
  editor:
    preferredLineLength: 100
".sass.source":
  editor:
    nonWordCharacters: "/\\()\"':,.;<>~!#%^&*|+=[]{}`?…"
    tabLength: 2
".sassdoc.source":
  editor:
    tabLength: 2
".shell.source":
  editor:
    tabLength: 2
".source.sum":
  editor:
    tabType: "auto"
".source.yaml":
  editor:
    tabLength: 2
".text.vim-help":
  editor:
    tabLength: 8
".text.xml":
  editor:
    tabLength: 4
".text.xml.xsl":
  editor:
    tabLength: 4
